@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./nerdfonts.css";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --background-color: 36, 39, 58;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --background-color: 36, 39, 58;
  }
}

body {
  color: #cad3f5;
  /* background: rgb(var(--background-color)); */
  font-family: "Victor Mono", "NerdFontsSymbols Nerd Font";
  font-weight: 600;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
