@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./nerdfonts.css";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --background-color: 36, 39, 58;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --background-color: 36, 39, 58;
  }
}

body {
  color: var(--ctp-sapphire);
  /* background: rgb(var(--background-color)); */
  font-family: "Victor Mono", "NerdFontsSymbols Nerd Font", "Fira Code", "JetBrains Mono", "Cascadia Code", monospace;
  font-weight: 600;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* TUI Style Scrollbar */
.tui-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--ctp-surface2) var(--ctp-base);
}

.tui-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.tui-scrollbar::-webkit-scrollbar-track {
  background: var(--ctp-base);
  border-radius: 0;
}

.tui-scrollbar::-webkit-scrollbar-thumb {
  background: var(--ctp-surface2);
  border-radius: 0;
  border: 1px solid var(--ctp-base);
}

.tui-scrollbar::-webkit-scrollbar-thumb:hover {
  background: var(--ctp-blue);
}

.tui-scrollbar::-webkit-scrollbar-corner {
  background: var(--ctp-base);
}
